body{
    background-color: rgb(211, 188, 233);
}

/* Selector por elemento*/
h1{ 
    color: azure;
    font-style: italic;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Selector por clase*/
.selector-clase{ 
    font-size: 50px;
    color: aqua;
}

/*Selector por ID*/
#intro-id{
    font-size: 30px;
    color: rgb(147, 165, 42);
}

button{
    background-color:cadetblue;
    padding: 15px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    border:none;
    transition: all 1s ease;
}

button:hover{
    background-color:coral;
}

.pseudoclass-hover{
    font-size: 20px;
    font-family: Georgia;
}

.pseudoclass-hover:hover{
    
    color: rgb(188, 143, 170);
}

.pseudoclass-linkhover{
    font-size: 25px;
    text-decoration: none;
}

.pseudoclass-linkhover:hover{
    text-decoration: underline;
}

.pseudoclass-linkhover:active{
    font-size: 30px;
    color: orange;
}

/*.pseudoclass-linkhover:focus{
    color: violet;
    border: 2px solid #444;
}*/

input:active{
    background-color: rgb(0, 8, 255);
}

input:focus{
    background-color: brown;
}

/* Pseudoclase: Primer y ultimo hijo. */

.hijos-pseudo p:first-child {
background-color: darkolivegreen;
}

.hijos-pseudo p:last-child{
    background-color: black;
}

.hijos-pseudo p:nth-child(3){
    background-color:beige;
}

.hijos-pseudo p:nth-child(4){
    background-color:pink;
}

/* Cambiar color a todos los hijos pares */

.hijos-pseudo p:nth-child(2n-1){

    background-color:brown;    
}

/*before*/
.prueba-before::before{
    content: 'Hey!';
    color: red;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 12px;
    height: 12px;
    background-color: yellow;
    padding: 6px;
}

/*after*/
.prueba-after::after{
    content: 'Bye!';
    color: green;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 12px;
    height: 12px;
    background-color: rgb(43, 255, 0);
    padding: 6px;
}

.prueba-firstletter::first-letter{
    color: red;
    font-size: 34px;
    text-decoration: underline;
}

.input1:required{
    border: 1px solid red;
}

.input1:valid{
    background-color:blueviolet;
    color: white;
}

/* Selector combinado y multiple */
/* Ver especificidad - Selectores combinados tienen preferencia*/
.padre ul li:last-child{
    background-color: orange;
}

/* .padre ul .selectli{
   background-color: green;
} */

.padre li:nth-child(2){
    background-color:blue
}

/*Forma mas recomendada es usar una unica CLASE*/
.selectli{
    background-color: aquamarine;
}


/* HERENCIA */
.container{
    color: blue;
    font-size: 20px;
    border: 1px solid red;
}

/* inherit para que hijo herede propiedades del padre */
.child{
    border:inherit;
    font-size: initial; /*16px*/
}

/*Cascada*/
.miparrafo{
    padding: 10px;
    color: red;
    border: 2px;
}

.miparrafo{
    background-color: grey;
    color: blue;
}
/* Unidades Absolutas = No cambian, Ejemplo pixeles */
/* Unidades Relativas = Si cambian, Ejemplo rem vw vh */
.caja1{
    background-color: brown;
    width: 300px;
    height: 300px;
}

.caja2{
    background-color: aqua;
    width: 50%;
    font-size: 30px;
}

.caja3{
    background-color: red;
    width: 50%;
    /* font-size: 20px; */
    /* font-size: 1em; */
    /* font-size: 2em; elemento mas cercano * 2 */
    font-size: 2rem;
}