body{
    background-color: rgb(211, 188, 233);
}

/* Selector por elemento*/
h1{ 
    color: azure;
    font-style: italic;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Selector por clase*/
.selector-clase{ 
    font-size: 50px;
    color: aqua;
}

/*Selector por ID*/
#intro-id{
    font-size: 30px;
    color: rgb(147, 165, 42);
}

button{
    background-color:cadetblue;
    padding: 15px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    border:none;
    transition: all 1s ease;
}

button:hover{
    background-color:coral;
}

.pseudoclass-hover{
    font-size: 20px;
    font-family: Georgia;
}

.pseudoclass-hover:hover{
    
    color: rgb(188, 143, 170);
}

.pseudoclass-linkhover{
    font-size: 25px;
    text-decoration: none;
}

.pseudoclass-linkhover:hover{
    text-decoration: underline;
}

.pseudoclass-linkhover:active{
    font-size: 30px;
    color: orange;
}

/*.pseudoclass-linkhover:focus{
    color: violet;
    border: 2px solid #444;
}*/

input:active{
    background-color: rgb(0, 8, 255);
}

input:focus{
    background-color: brown;
}

.hijos-seudo{   

}

.p{

}